/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

/*.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */ 

.bx-wrapper .bx-prev {
	left: 5px;
	background: url('../img/controls.png') no-repeat ;
	 -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.bx-wrapper .bx-next {
	right: 4px;
	background: url('../img/controls2.png') no-repeat ;
	-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.bx-wrapper .bx-prev:hover {
	background-image: url('../img/controlhover.png');
}

.bx-wrapper .bx-next:hover {
	background-image: url('../img/control2hover.png');
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	outline: 0;
	width: 94px;
	height: 133px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 94px;
	height: 133px;
	outline: 0;
	background: url('../img/controls.png');
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background: url('../img/controlhover.png');
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 94px;
	height: 133px;
	outline: 0;
	background: url('../img/controls2.png');
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background: url('../img/control2hover.png');
}
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}
/* End BX Slider */


/* Layout */
html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	width: 100%;
	height: 100%;
	overflow: scroll;
	padding: 0;
	margin: 0;
	background-image: url('../img/bg.png');
}
#splash {
	width: 100%;
	height: 100%;
	background-image: url('../img/bg.png');
	background-repeat: repeat;
}
#nav {
	width: 100%;
	height: 40px;
	background-color: #d73823;
	position: relative;
	z-index: 2000;
	box-shadow: 1px 2px 9px #383838;
	text-align: center;
}
#nav.arts a[href='#arts'] {
	color: #3F9186;
}
#nav.food a[href='#food'] {
	color: #3F9186;
}
#nav.music a[href='#music'] {
	color: #3F9186;
}
#nav.family a[href='#family'] {
	color: #3F9186;
}
#nav ul {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding: 0;
	overflow: hidden;
}
#nav ul li {
	display: block;
	list-style-type: none;
	float: left;
	width: 25%;
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	margin-top: 9px;
	margin-left: auto;
	margin-right: auto;
}
#nav ul li a {
	text-decoration: none;
	color: #F1EDDD;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
#nav ul li a:hover {
	color: #3F9186;
}
#nav.stuck {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
}
.section {
	width: 50%;
	margin: 0 auto;
	clear: both;
	height: 220px;
	background-size: cover;
	padding-top: 80px;
	max-width: 100%;
}
.section-logo,
.section-info {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
}
.section:nth-of-type(2n) .section-logo,
.section:nth-of-type(2n) .section-info {
	float: right;
	/* this is a bit of a hack, but it fixes your spacing issue */
	position: relative;
	left: 40px;
} 
.section-info img {
	width: 600px;
	max-height: 100%;
	opacity: 1;
}
.section-logo img{
	width: 521px;
	height: 529px;
	position: center;
}
#logoimage {
	width: 425px;
	height: 425px;
	max-width: 100%;
	background-image: url('../img/splashlogo.png');
	background-size: contain;
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;

}
#nashvilleman {
	width: 841px;
	height: 191px;
	background-image: url('../img/nashvilleman.png');
	max-width: 100%;
    background-size: contain;
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
}
h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	margin-bottom: -20px;
	text-align: center;
	color: #F3EFDE;
	text-decoration: none;
}
h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
	color: #F3EFDE;
}
.slider a {
	text-decoration: none;
	color: #F3EFDE;
	  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.slider a:hover {
	color: #3f9186;

}
#food {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-image: url('../img/foodbg.png');
	background-repeat: no-repeat;
	text-align: center;
}
#arts {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-image: url('../img/artbg.png');
	background-repeat: no-repeat;
	text-align: center;
}
#music {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-image: url('../img/musicbg.png');
	background-repeat: no-repeat;
	text-align: center;
}
#family {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-image: url('../img/familybg.png');
	background-repeat: no-repeat;
	text-align: center;
}
#slider {
	position: absolute;
	z-index: 1000;
}

/*Responsive Styles*/
@media all and (max-width: 550px) {
#logoimage {
	height: 300px;
	background-position: center;
}
#splash {
	height: 430px;
}
.section-logo,
.section-info {
	width: 100%;
	clear: both;
	text-align: center;
}
.section-logo {
	height: 50%; // adjust later when you put logos in 
}
.section-logo img {
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
.section-info {
	height: 60%; // adjust later when you put logos in
}
.section-info.slider {
	height: 460px;
}
}

